<div class="mat-emb-create">
    </hr>
    <h3>Adicione os materiais de embalagem</h3>
    <label for="nome-mat-emb">Nome</label>
    <input type="text" placeholder="Nome" id="nome-mat-emb" class="form-control" />
    <label for="capacidade-mat-emb">Capacidade</label>
    <input type="text" placeholder="Capacidade" id="capacidade-mat-emb" class="form-control" />
    <label for="preco-mat-emb">Preço</label>
    <input type="number" placeholder="Preço" id="preco-mat-emb" class="form-control" />
    <label for="qtd-mat-emb">Quantidade</label>
    <input type="number" placeholder="Quantidade" id="qtd-mat-emb" class="form-control" />
    <button type="button" id="add-mat-emb-button" class="btn btn-primary">
        <i class="fas fa-plus"></i> Adicionar
    </button>
</div>
<hr />
<div class="mat-emb-summary">
    <ul id="mat-emb-summary-list"></ul>
</div>
</hr>