<nav class="navigation-bar">
  <ul>
    <li><a href="/novoManipulado">Novo</a></li>
    <li><a href="/orcamento">Orçamento</a></li>
    <li><a href="/arquivo">Arquivo</a></li>
    <li><a href="/configurar">Configurar</a></li>
  </ul>
</nav>