<nav class="navbar navbar-expand bg-primary navbar-dark">

  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home"></i> Início</a></li>
    <li class="nav-item"><a class="nav-link" href="/novoManipulado"><i class="far fa-file-alt"></i> Novo</a></li>
    <li class="nav-item"><a class="nav-link" href="/orcamento"><i class="fas fa-euro-sign"></i> Orçamento</a></li>
    <li class="nav-item"><a class="nav-link" href="/pesquisa"><i class="fas fa-search"></i>
        Pesquisa</a></li>
  </ul>

</nav>