<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/manipulado.css" />
        <link rel="stylesheet" href="css/index.css" />
        <link rel="stylesheet" href="css/auth.css" />
        <%- include('includes/dependencies-top.ejs') %>
        <title>Autenticação</title>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
        <div class="container auth-form-container">
            <div class="user-messages hide"></div>
            <h1><i class="fas fa-sign-in-alt"></i> Login</h1>
            <hr />
            <!-- Login Form -->
            <form class="auth-form" action="/login" method="POST">
                <h5>Introduza as suas credenciais de acesso</h5>
                <input
                    type="email"
                    id="email"
                    class="email-signin form-control"
                    name="email"
                    placeholder="email"
                />
                <input
                    type="text"
                    id="password"
                    class="password-signup form-control"
                    name="password"
                    placeholder="password"
                />
                <input
                    type="submit"
                    class="signup btn btn-primary"
                    value="Entrar"
                />
            </form>
            <!-- Remind Passowrd -->
            <div class="forgot-password-signup">
                <a class="underlineHover" href="#">Esqueceu a password?</a>
                <a class="underlineHover" href="#">Ainda não está registado</a>
            </div>
        </div>
        <%- include('includes/dependencies-bottom.ejs') %>
    </body>
</html>
