.user-messages {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    position: sticky;
    top: 4rem;
}

.hide {
    display: none;
}

.user-message {
    margin: auto;
    width: 90%;
    border: 1px solid #4771fa;
    padding: 0.5rem;
    border-radius: 3px;
    background: #b9c9ff;
    text-align: center;
}

.user-message--error {
    border-color: red;
    background: rgb(255, 176, 176);
    color: red;
}

.user-message--success {
    border-color: green;
    background: rgb(136, 255, 172);
    color: green;
}
