.table {
    margin-top: 3rem;
    vertical-align: middle;
}

.table th {
    cursor: pointer;
}

.table tr {
    vertical-align: middle;
    text-align: center;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.table button {
    margin: 1rem 0;
}

.table .th-sort-asc::after {
    content: '\25b4';
}

.table .th-sort-desc::after {
    content: '\25be';
}

.table .th-sort-asc::after,
.table .th-sort-desc::after {
    margin-left: 5px;
}

.table .th-sort-asc,
.table .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}
