.card {
    margin-top: 1rem;
}

.btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0;
}

.form-control {
    margin-bottom: 1rem;
}

.radio-type-selector-container {
    margin-bottom: 1rem;
}

.radio-manipulado-orcamento {
    vertical-align: baseline;
    margin: 5px 5px;
}
